extends layout

block content
  .container
    include:md ../../README.md

  //- Our README needs a top name for Github, but we already have one in our navigation bar. So, a tiny hackish inline JS to get rid of it for gh-pages :)
  script.
    var node = document.getElementById('gulp-starter');
    if (node.parentNode) {
      node.parentNode.removeChild(node);
    }