.footer {
  font-family: $sans-serif;
  font-size: $base-font-size;
  font-weight: $semibold-weight;
  margin: 2em auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  a {
    padding: 0 1em;
  }

  @include media($four-col) {
    p {
      margin: 1em 10%;
      float: left;
      width: 80%;
    }
  }
}

.decoration-line {
  background-color: $brand-gray;
  height: 1px;
  position: absolute;
  top: 33%;
  width: 100%;
}