.nav {
  li {
    float: left;
    font-weight: $semibold-weight;
    list-style-type: none;
    margin: 0 0 0 15px;
    text-transform: uppercase;

    @include media($four-col) {
      @include align-items(flex-start);

      margin: 0 15px 2em 0;
    }
  }
}