// Global styles.

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container { // global container for app
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $sans-serif;
  font-weight: $normal-weight;
  font-size: $base-font-size;
  margin: auto;
  max-width: 850px;
  width: 70%;
}