footer.footer
  p
    a(href="https://github.kdc.capitalone.com/helenvholmes/gulp-starter") github repo
    a(href="https://github.kdc.capitalone.com/helenvholmes/gulp-starter/archive/master.zip") download zip