header.header.container
  h1.heading-alpha Gulp Starter

  nav.nav
    ul
      li
        a(href="https://github.com/helenvholmes/gulp-starter/archive/master.zip") download zip
      li
        a(href="https://github.com/helenvholmes/gulp-starter") github repo